.root{
    -fx-font-size: 9.5pt;
    -fx-font-family: "Courier New";
    -fx-base: #20b176;
    -fx-background: rgb(40, 109, 168);
}

.button {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background: #20b176;
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color: #007a49;
}

.table-view:focused{
    -fx-background-color: #007a49;
}

.table-view .column-header-background{
    -fx-background-color: #20b176;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-border-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #4686ba;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-alignment: center;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #6ea3ce;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: #438496;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}